<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/scl/fi/f3siwczc59vj2022m7lsy/Netflix_3.0_Adam-tech.ipa?rlkey=x63bkh0k7f60f68g19f9z1la1;dl=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.chengzu.book</string>
                <key>bundle-version</key>
                <string>3.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Netflix Adam Tech</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
