<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/scl/fi/j4qza490ba35ld8yfhbp7/Video-Star_15.0.5_Adam-tech.ipa?rlkey=x11g4ffxbhph1ddt8mr2lvu65&dl=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.videostar.adam.tech</string>
                <key>bundle-version</key>
                <string>15.0.5</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Video star Adam Tech</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
